<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			ak240112
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/usuario
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property>
    <property name="connection.pool_size">1</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
	</session-factory>
</hibernate-configuration>